* {
    font-family: Cambria;
}
.dashboard-logo {
    width: 100%;
    height: 110px !important;
}
.nav-item-sidebar {
    border-bottom: 1px #f0f0f0 solid !important;
}
.dashboard-tab {
    min-height: 100px !important;
    max-height: 150px !important;
}
.dashboard-tab-icon i{
    font-size: 60px;
}
.dropdown-menu {

}
